n8n-workflows/content-factory.json
{
  "name": "Content Factory",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.analyzeContentPerformance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "timeRange",
              "value": "last_24h"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-performance",
      "name": "Analyze Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.selectBanditArm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "banditType",
              "value": "content_creative"
            },
            {
              "name": "context",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "select-creative",
      "name": "Select Creative Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "brief",
              "value": "={{$json.contentBrief}}"
            },
            {
              "name": "variations",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "generate-content",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.schedulePublishing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json}}"
            },
            {
              "name": "platforms",
              "value": "[\"tiktok\", \"instagram\", \"youtube\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "schedule-publishing",
      "name": "Schedule Publishing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.trackContentMetrics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentId",
              "value": "={{$json.contentId}}"
            },
            {
              "name": "banditArmId",
              "value": "={{$json.banditArmId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "track-metrics",
      "name": "Track Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Analyze Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Performance": {
      "main": [
        [
          {
            "node": "Select Creative Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Creative Strategy": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Schedule Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Publishing": {
      "main": [
        [
          {
            "node": "Track Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
