n8n-workflows/payout-processor.json
{
  "name": "Payout Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 2 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.ingestEvent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orgUnitId",
              "value": "lsn"
            },
            {
              "name": "eventType",
              "value": "payout.calculate"
            },
            {
              "name": "source",
              "value": "n8n-payout-processor"
            },
            {
              "name": "payload",
              "value": "={\"timestamp\": \"{{$now.toISO()}}\", \"trigger\": \"scheduled\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "calculate-payouts",
      "name": "Calculate Payouts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.evaluatePolicy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "policyName",
              "value": "Payout Safety Gate"
            },
            {
              "name": "context",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-policy",
      "name": "Check Policy Gates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approval-required",
              "leftValue": "={{$json.requiresApproval}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "approval-check",
      "name": "Requires Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.createApproval",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "actionType",
              "value": "payout"
            },
            {
              "name": "context",
              "value": "={{$json}}"
            },
            {
              "name": "reason",
              "value": "High-value payout requires founder approval"
            }
          ]
        },
        "options": {}
      },
      "id": "request-approval",
      "name": "Request Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.executePayout",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payoutData",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "execute-payout",
      "name": "Execute Payout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/businessOs.logToLedger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-ledger",
      "name": "Log to Ledger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "url": "={{$env.BUSINESS_OS_URL}}/api/trpc/system.notifyOwner",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Payout Completed"
            },
            {
              "name": "content",
              "value": "={{\"Payout of $\" + $json.amount + \" to \" + $json.recipient + \" completed successfully\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-owner",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Daily at 2 AM": {
      "main": [
        [
          {
            "node": "Calculate Payouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Payouts": {
      "main": [
        [
          {
            "node": "Check Policy Gates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Policy Gates": {
      "main": [
        [
          {
            "node": "Requires Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires Approval?": {
      "main": [
        [
          {
            "node": "Request Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Payout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Payout": {
      "main": [
        [
          {
            "node": "Log to Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Ledger": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
